---
import { getCollection } from "astro:content"
import { Picture } from "astro:assets"
import PageLayout from "@layouts/PageLayout.astro"
import warningImage from "public/warning.png"
import alertSvg from "public/alert-octagon.svg"
---


<PageLayout title="404 Not Found" description="Page not found">

    <section class="relative h-screen w-full">

        <div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
            <div class="mt-16 text-center">
      
              <Picture
                class="animate"
                src={warningImage}
                alt="Warning"
                widths={[512, 512, 512]}
                sizes="(max-width: 512px) 100vw, 512px"
                loading="eager"
                format="avif"
              />
              
              <h1 class="animate text-4xl lg:text-5xl font-bold lg:tracking-tight">404</h1>
              <p class="animate text-lg mt-4 text-slate-600">Page not found.</p>
                <br>
              <a href={`/`} class="animate group w-auto p-1.5 gap-1.5 text-sm flex justify-center items-center border rounded hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-colors duration-300 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="stroke-current group-hover:stroke-black group-hover:dark:stroke-white">
                  <line x1="19" y1="12" x2="5" y2="12" class="scale-x-0 group-hover:scale-x-100 translate-x-3 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
                  <polyline points="12 19 5 12 12 5" class="translate-x-1 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
                </svg>
                <div class="w-full group-hover:text-black group-hover:dark:text-white transition-colors duration-300 ease-in-out">
                  Back to Home
                </div>
              </a>
      
            </div>
          </div>

    </section>

</PageLayout>


<script>

</script>